* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #111;
    color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Poppins, sans-serif, system-ui;
}

.card {
    gap: 10px;
    padding: 10px;
    background-color: #1d1d1d;
    border: 1px solid;
    border-color: gray;
    min-height: 70%;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;

    i {
        scale: 1.75;
        color: #ffffff;
    }

}

.card-header {
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
    height: fit-content;

}

.card-options {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 0px 0px 0px;
}

.card-result {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 10px;

    .copy-p {
        margin-top: 10px;
        font-weight: 600;
    }
}

.copy-p {
    color: transparent;
}

.password-container {
    margin-top: 10px;
    background-color: #111;
    border-radius: 50px;
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    border: 2px dashed;
    border-color: transparent;

    p {
        padding: 5px 10px 5px 10px;
    }

    i {
        scale: 1;
        padding-right: 10px;
    }
}

.password-container:hover {
    border: 2px dashed;
    border-color: #fff;
    cursor: pointer;
}

.password-container:hover + .copy-p {
    color: #fff;
}

.card-input {
    margin-bottom: 20px;
    align-items: center;
    display: flex;
    gap: 10px;
}

.checkbox {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.options-l {
    width: 50%;
    padding-left: 50px;

}

.options-l span {
    font-size: 16px;
    font-weight: 300;
    color: gray;
}

.options-r {
    width: 50%;
    padding-right: 50px;
}

#password-length-input {
    font-family: Poppins, sans-serif, system-ui;
    width: fit-content;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: 1px solid;
    border-color: gray;
    padding: 5px;
    color: #000000;
}

.btn {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(19, 19, 19);
    border-radius: 50px;
    border: 1px solid;
    border-color: gray;
    width: 40px;
    height: 40px;
}

.generate-btn {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 2px solid;
    background-color: #0fa3f8;
    border-color: transparent;
    color: #ffffff;
    font-weight: 700;
    font-size: 16px;
    font-family: Poppins, sans-serif, system-ui;
    padding: 5px;
    width: 25%;
    transition: all ease-in 0.1s;
}

.generate-btn:hover {
    background-color: rgb(15, 163, 248, 0.8);
}

#theme-switch-btn {
    cursor: pointer;
    left: 0;
    position: absolute;
}

#help-length-btn,
#help-lower-btn,
#help-upper-btn,
#help-symbols-btn {
    width: 25px;
    height: 25px;

    i {
        scale: 1.2;
    }

    p {
        display: none;
    }
}

#help-length-btn:hover,
#help-lower-btn:hover,
#help-upper-btn:hover,
#help-symbols-btn:hover {
    min-height: 25px;
    width: fit-content;
    color: #fff;
    font-family: Poppins, sans-serif, system-ui;

    p {
        padding: 5px;
        display: inline;
    }

    i {
        display: none;
    }
}